.word {
  cursor: pointer;
  margin: 0 6px;
  font-size: 1.2em;
  color: #f3f3f3;
  background-color: rgba(0,0,0,0.7);
  padding: 4px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 1.5s;
}
.hide {
  opacity: 0;
}
