<section class="words">
  <div class="js-words">
    {{{content}}}
  </div>
  <div class="flex-center answer js-answer">
  </div>
  <div class="flex-center answer-button">
    <button class="js-show-answer">Показать ответ</button>
    <button class="js-close">Закрыть</button>
  </div>
</section>
